/* 主要按钮 */
.cy-button .but-primary.is-plain{
    color: DodgerBlue;
    background-color: rgb(30, 144, 255, 0.2);
    border:1px solid DodgerBlue;
  }
  /* 鼠标滑过 */
  .cy-button .but-primary.is-plain:hover{
    background-color: dodgerblue;
    color: white;
  }
  /* 被点击时 */
  .cy-button .but-primary.is-plain:active{
    box-shadow: 0px 0px 3px dodgerblue;
  }
  /* 获得焦点 */
  .cy-button .but-primary.is-plain:focus{
    background-color: dodgerblue;
    color: white;
  }
  
  /* 成功按钮 */
  .cy-button .but-success.is-plain{
    color: rgb(103, 194, 58);
    background-color: rgb(103, 194, 58, 0.2);
    border:1px solid #67c23a;
  }
  /* 鼠标滑过 */
  .cy-button .but-success.is-plain:hover{
    background-color: #67c23a;
    color: white;
  }
  /* 被点击时 */
  .cy-button .but-success.is-plain:active{
    box-shadow: 0px 0px 3px #67c23a;
  }
  /* 获得焦点 */
  .cy-button .but-success.is-plain:focus{
    background-color: #67c23a;
    color: white;
  }
  
  /* 信息按钮 */
  .cy-button .but-info.is-plain{
    color: rgb(144, 147, 153);
    background-color: rgb(144, 147, 153, 0.2);
    border:1px solid #909399;
  }
  /* 鼠标滑过 */
  .cy-button .but-info.is-plain:hover{
    background-color: #909399;
    color: white;
  }
  /* 被点击时 */
  .cy-button .but-info.is-plain:active{
    box-shadow: 0px 0px 3px #909399;
  }
  /* 获得焦点 */
  .cy-button .but-info.is-plain:focus{
    background-color: #909399;
    color: white;
  }
  
  /* 警告按钮 */
  .cy-button .but-warning.is-plain{
    color: rgb(230, 162, 60);
    background-color: rgb(230, 162, 60, 0.2);
    border:1px solid #e6a23c;
  }
  /* 鼠标滑过 */
  .cy-button .but-warning.is-plain:hover{
    background-color: #e6a23c;
    color: white;
  }
  /* 被点击时 */
  .cy-button .but-warning.is-plain:active{
    box-shadow: 0px 0px 3px #e6a23c;
  }
  /* 获得焦点 */
  .cy-button .but-warning.is-plain:focus{
    background-color: #e6a23c;
    color: white;
  }
  
  /* 危险按钮 */
  .cy-button .but-error.is-plain{
    color: rgb(245, 108, 108);
    background-color: rgb(245, 108, 108, 0.2);
    border:1px solid #f56c6c;
  }
  /* 鼠标滑过 */
  .cy-button .but-error.is-plain:hover{
    background-color: #f56c6c;
    color: white;
  }
  /* 被点击时 */
  .cy-button .but-error.is-plain:active{
    box-shadow: 0px 0px 3px #f56c6c;
  }
  /* 获得焦点 */
  .cy-button .but-error.is-plain:focus{
    background-color: #f56c6c;
    color: white;
  }