/* 默认按钮样式 */
.cy-button .but-default.is-ghost{
    color: white;
    background-color: transparent;
    border:1px solid hsl(222, 17%, 88%);
    box-shadow: 0px 0px 5px white;
    text-shadow: 0px 0px 1px;
    border-radius: 1px;
}
/* 鼠标悬浮默认按钮时 */
.cy-button .but-default.is-ghost:hover{
  color: white;
  border: 1px solid white;
  opacity: 1;
  text-shadow: 0px 0px 5px;
  box-shadow: 0px 0px 10px white;
}
/* 默认按钮被点击时 */
.cy-button .but-default.is-ghost:active{
  color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 5px white;
}
/* 默认按钮获取焦点后 */
.cy-button .but-default.is-ghost:focus{
  color: white;
  border: 1px solid white;
  text-shadow: 0px 0px 3px white;
  box-shadow: 0px 0px 10px white;
}

/* 主要按钮样式 */
.cy-button .but-primary.is-ghost{
  color: dodgerblue;
  background-color: transparent;
  border:1px solid DodgerBlue;
  box-shadow: 0px 0px 5px dodgerblue;
  text-shadow: 0px 0px 1px;
  border-radius: 1px;
}
/* 鼠标悬浮主要按钮时 */
.cy-button .but-primary.is-ghost:hover{
  opacity: 1;
  text-shadow: 0px 0px 5px;
  box-shadow: 0px 0px 10px dodgerblue;
}
/* 主要按钮被点击时 */
.cy-button .but-primary.is-ghost:active{
  box-shadow: 0px 0px 10px dodgerblue;
}
/* 主要按钮获取焦点后 */
.cy-button .but-primary.is-ghost:focus{
  text-shadow: 0px 0px 10px dodgerblue;
  box-shadow: 0px 0px 15px dodgerblue;
}

/* 成功按钮样式 */
.cy-button .but-success.is-ghost{
  color: #67c23a;
  background-color: transparent;
  border: 1px solid #67c23a;
  box-shadow: 0px 0px 5px #67c23a;
  text-shadow: 0px 0px 1px;
  border-radius: 1px;
}
/* 鼠标悬浮成功按钮时 */
.cy-button .but-success.is-ghost:hover{
  opacity: 1;
  text-shadow: 0px 0px 5px;
  box-shadow: 0px 0px 10px #67c23a;
}
/* 成功按钮被点击时 */
.cy-button .but-success.is-ghost:active{
  box-shadow: 0px 0px 10px #67c23a;
}
/* 成功按钮获取焦点后 */
.cy-button .but-success.is-ghost:focus{
  text-shadow: 0px 0px 10px #67c23a;
  box-shadow: 0px 0px 10px #67c23a;
}

/* 信息按钮样式 */
.cy-button .but-info.is-ghost{
  color: #909399;
  background-color: transparent;
  border: 1px solid #909399;
  box-shadow: 0px 0px 5px #909399;
  text-shadow: 0px 0px 1px;
  border-radius: 1px;
}
/* 鼠标悬浮信息按钮时 */
.cy-button .but-info.is-ghost:hover{
  opacity: 1;
  text-shadow: 0px 0px 5px;
  box-shadow: 0px 0px 10px #909399;
}
/* 信息按钮被点击时 */
.cy-button .but-info.is-ghost:active{
  box-shadow: 0px 0px 5px #909399;
}
/* 信息按钮获取焦点后 */
.cy-button .but-info.is-ghost:focus{
  text-shadow: 0px 0px 5px #909399;
  box-shadow: 0px 0px 15px #909399;
}

/* 警告按钮样式 */
.cy-button .but-warning.is-ghost{
  color: #e6a23c;
  background-color: transparent;
  border: 1px solid #e6a23c;
  box-shadow: 0px 0px 5px #e6a23c;
  text-shadow: 0px 0px 2px;
  border-radius: 1px;
}
/* 鼠标悬浮警告按钮时 */
.cy-button .but-warning.is-ghost:hover{
  opacity: 1;
  text-shadow: 0px 0px 5px;
  box-shadow: 0px 0px 10px #e6a23c;
}
/* 警告按钮被点击时 */
.cy-button .but-warning.is-ghost:active{
  box-shadow: 0px 0px 5px #e6a23c;
}
/* 警告按钮获取焦点后 */
.cy-button .but-warning.is-ghost:focus{
  text-shadow: 0px 0px 3px #e6a23c;
  box-shadow: 0px 0px 10px #e6a23c;
}

/* 危险按钮样式 */
.cy-button .but-error.is-ghost{
  color: #ee0a24;
  background-color: transparent;
  border: 1px solid #ee0a24;
  box-shadow: 0px 0px 5px #ee0a24;
  text-shadow: 0px 0px 2px;
  border-radius: 1px;
}
/* 鼠标悬浮危险按钮时 */
.cy-button .but-error.is-ghost:hover{
  opacity: 1;
  text-shadow: 0px 0px 10px;
  box-shadow: 0px 0px 17px #ee0a24;
}
/* 危险按钮被点击时 */
.cy-button .but-error.is-ghost:active{
  box-shadow: 0px 0px 5px #ee0a24;
}
/* 危险按钮获取焦点后 */
.cy-button .but-error.is-ghost:focus{
  text-shadow: 0px 0px 10px #ee0a24;
  box-shadow: 0px 0px 17px #ee0a24;
}