/* 移动边框按钮 */
.cy-button .btn-move-border{
	outline: 0;
	cursor: pointer;
	width: 160px;
	line-height: 40px;
	background-color: transparent;
	border:2px solid #3489db;
	color: black;
	font-size: 16px;
	text-align: center;
	position: relative;
}
/* 上面的红线 */
.cy-button .btn-move-border::after{
	content: "";
	width: 17px;
	height: 2px;
	background-color:red;
	position: absolute;
	top: -2px;
	left: 10px;
	transition: all 1s ease;
}
/* 鼠标滑过移动横线 */
.cy-button .btn-move-border:hover::after{
	left: 130px;
}
/* 下面的红线 */
.cy-button .btn-move-border::before{
	content: "";
	width: 17px;
	height: 2px;
	background-color:red;
	position: absolute;
	bottom: -2px;
	right: 10px;
	transition: all 1s ease;
}
/* 鼠标滑过移动横线 */
.cy-button .btn-move-border:hover::before{
	right: 130px;
}
/* 按钮被店家 */
.cy-button .btn-move-border:active{
	border:2px solid red;
}
/* 按钮获取焦点后 */
.cy-button .btn-move-border:focus::before{
	background-color:orange;
}
.cy-button .btn-move-border:focus::after{
	background-color:orange;
}