/* 荧光按钮样式 */
.cy-button .btn-fluorescence-one{
	outline: 0;
	cursor: pointer;
	line-height: 45px;
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	text-align: center;
	font-size: 24px;
	background-image: linear-gradient(to right,#03aaf4,#f441a5,#ffeb3b,#03aaf4);
	background-size: 400%;
	transform: translate(0);
}
/* 荧光背景样式 */
.cy-button .btn-fluorescence-one::before{
	content: "";
	position: absolute;
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
	background-image: linear-gradient(to right,#03aaf4,#f441a5,#ffeb3b,#03aaf4);
	background-size: 400%;
	border-radius: 50px;
	z-index: -1;
	filter: blur(20px);
}
/* 鼠标滑过荧光背景开始动画 */
.cy-button .btn-fluorescence-one:hover::before{
	animation: fluorescence 8s linear infinite;
}
/* 获得焦点开始动画 */
.cy-button .btn-fluorescence-one:focus::before{
	animation: fluorescence 8s linear infinite;
}
/* 荧光动画 */
@keyframes fluorescence{
	to{
		background-position: -400% 0;
	}
}