/* 预定义背景色 */
/* 0 */
.cy-button .tomato{
    background-color: #f20c00;
}
/* 1 */
.cy-button .a{
    background-color: #ea5506;
}
/* 2 */
.cy-button .a1{
    background-color: #FF004D;
}
/* 3 */
.cy-button .a2{
    background-color: #6200ee;
}
/* 4 */
.cy-button .a3{
    background-color: #F8D800;
}
/* 5 */
.cy-button .a4{
    background-color: #ee827c;
}
/* 6 */
.cy-button .a5{
    background-color: #64FF3D;
}
/* 7 */
.cy-button .a6{
    background-color: #0ED2F7;
}
/* 8 */
.cy-button .a7{
    background-color: #3DFFD8;
}
/* 9 */
.cy-button .a8{
    background-color: violet;
}
